:host {
  --color-primary: #93b0d3;
  --color-secondary: #5e1111;
  --color-background-primary: #ececec;
  --color-background-secondary: #07462c;

  --color-primary-hover: #83a0c4;
  --color-primary-active: #8eabce;

  --color-secondary-hover: #7e1d1d;
  --color-secondary-active: #6e1717;

  --color-background-primary-hover: #d9d9d9;
  --color-background-primary-active: #e3e3e3;

  --color-background-secondary-hover: #106441;
  --color-background-secondary-active: #0e5b3b;
}
