storieslikegrapes.com {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_KEY}
        resolvers 1.1.1.1
    }
    debug
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    email martti.kaipiainen@gmail.com
    respond "Hello, world!"

}
